* {
  font-family: 'Roboto mono', sans-serif;
}

.row1 {
  padding-top: 100px;
}

.name {
  margin-left: 150px;
}

.row2 {
  padding-top: 125px;
  margin-left: 150px;
  font-size: 18px;
  line-height: 30px;
}

.row3 {
  padding-top: 175px;
  font-size: 15px;
}

.row3 a:link {color:#333; text-decoration: none;}
.row3 a:visited {color:#333; text-decoration: none;}
.row3 a:hover {color:#333; text-decoration: none;}
.row3 a:active {color:#333; text-decoration: none;}
