* {
  font-family: 'Roboto mono', sans-serif;
}

.portfolio-head {
  margin-left: 150px;
  padding-top: 100px;
}

.navbar {
  padding-top: 10px;
}

.navbar p a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}